# ============================================================
# Variables d'environnement — copier en .env.local et remplir
# ============================================================

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jjnggbkofkadtstxvteo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpqbmdnYmtvZmthZHRzdHh2dGVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3OTA0OTMsImV4cCI6MjA5MzM2NjQ5M30.R-Tz8bblhv98TDe4pYFxH_0mvoUGwG03TB6qO6Go5W4

# Cloudinary (pour avatars + audios — clés publiques)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dobxpqyru
NEXT_PUBLIC_CLOUDINARY_IMAGE_PRESET=moneglise_images
NEXT_PUBLIC_CLOUDINARY_AUDIO_PRESET=moneglise_audios
